{% extends 'base.html' %}

{% block content%}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Editar Producto</h1>
            <p class="lead fw-normal text-white-50 mb-0">Completa el siguiente formulario para editar el producto.</p>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5 my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br/><br/>
                <button type="submit" class="btn btn-secondary">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}