{% extends 'base.html' %}

{% block content%}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sobre Nosotros</h1>
            <p class="lead fw-normal text-white-50 mb-0">En JPets somos unos verdaderos amantes de los animales. Nacimos con la idea de ofrecer los mejores productos para consentir a tus mascotas como se merecen: con amor, calidad y estilo.</p>
        </div>
    </div>
</header>

{% endblock %}